<!DOCTYPE html>
<html>
  <head>
    <title>Hilight</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
      <div class="col-3">
        <div class="logo">
          <img src="<%= asset_path( 'logo.png' ) %>"  alt="LOGO" height="55">
        </div>
      </div>
      <div class="col-4 slogan">
        Talk through your hi-lights
      </div>
      <div class="col-5 links">
        <%= link_to 'About', '#' %>
      </div>
    </header>
    <hr />

    <br class="clear" />
    <%= yield %>
  </body>
</html>
